services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - type: bind
        source: ./media
        target: /app/media
      - type: bind
        source: ./static
        target: /app/static
      - type: bind
        source: ./db.sqlite3
        target: /app/db.sqlite3
    networks:
      - asmart-test
    restart: unless-stopped

  nginx:
    container_name: nginx
    image: nginx
    volumes:
      - ./media:/app/media
      - ./static:/app/static
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    environment:
      - NGINX_PORT=80
    networks:
      - asmart-test
    restart: unless-stopped

networks:
  asmart-test:
    external: false
    name: asmart-test
    driver: bridge
